.skillspage{
    height: 180vh;
    position: relative;
}

.homeSkill
{
    height: 100vh;
    background-image: url('./Img/img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeSkillin{
    background-color: #272626a2;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;


}

.homeSkillin span{
    position: absolute;
    font-size: 70px;
    color: rgb(255, 232, 189);
    top:35%;
    width: 45%;
    left: 7%;
}
.skillLink{
    position: absolute;
    top:70%;
    left: 7%;
    color: rgb(255, 232, 189);
    border:1px solid #E1A87A;
    padding: 10px;
    font-style: normal;
}
.skillLink:hover{
    color:rgb(14, 10, 4);
    background-color: rgb(255, 232, 189);
    transition: 1s;
    text-decoration: none;
}

/* My secout page */
.myskills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:130px;
    font-size: 35px;
    font-weight: 500;
}

.sklis-ver{
    height: 63vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 60px 0 0 0;
    flex-wrap: wrap;


}
.sklis1{
    padding: 15px 20px;
}

.sklis2{
    padding: 15px 20px;
}


.footerpageskills{
    width: 100%;
    height: 7vh;
    background-color: #00000040;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    position: absolute;
}

/* Size Phone */

@media only screen and (max-width: 1000px) {
    
    .homeSkillin span{
        font-size: 50px;
    }
    .skillspage{
        height: 80vh;
    }
    
}
@media only screen and (max-width: 450px) {
    .sklis-ver{
        height: 85vh;
    }
    .homeSkillin span{
        font-size: 35px;
    }
}
