.skillspage{
    height: 200vh;
    position: relative;
}

.homeSkill
{
    height: 100vh;
    background-image: url('./Img/img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeSkillin{
    background-color: #272626a2;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;


}

.homeSkillin span{
    position: absolute;
    font-size: 80px;
    color: rgb(255, 232, 189);
    top:35%;
    width: 45%;
    left: 7%;
}
.skillLink{
    position: absolute;
    top:70%;
    left: 7%;
    color: rgb(255, 232, 189);
    border:1px solid #E1A87A;
    padding: 10px;
    font-style: normal;
}
.skillLink:hover{
    color:rgb(14, 10, 4);
    background-color: rgb(255, 232, 189);
    transition: 1s;
    text-decoration: none;
}
.myskills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    font-size: 35px;
    font-weight: 500;
}

.sklis{
    height: 89vh;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-top: 10%;
}
.sklis1{
    width: 50%;
    height: 100%;
}

.sklis2{
    width: 50%;
    height: 100%;
}


.footerpageskills{
    width: 100%;
    height: 7vh;
    background-color: #00000040;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    position: absolute;
}

/* Size Phone */

@media only screen and (max-width: 1000px) {
    
    .homeSkillin span{
        font-size: 50px;
    }
}
