body{
    position: relative;

}


.header1{
    justify-content:space-between;
    z-index: 999;
    width: 100%;
    transition: 0.8s;
    height: 55px;
    position: absolute;
    top: 0;
    
}
.inheader{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    position: relative;


}
.logo{
    display: flex;
    align-items: center;
    justify-content:center;
    top: 0;
}
.logo img{
    width: 40px;
    height: 40px;
    
}


/* Header Right */
.headright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.headright li {
    list-style: none;
    margin: 0px 8px;
    color: white;

    
}

.navlink{
    color: #000;
    text-decoration: none;
   


}
.navlink:hover{
    border-bottom: 1.5px solid #0075F6;

}
.navlink:active{
    color: #0075F6;
}


/* Header Left */


/* Scroll */

.scrolled{
    position: fixed;
    background-color: aliceblue;
    z-index: 999;
    padding: 10px 20px ;
    box-shadow:2px 2px 10px  rgba(153, 146, 146, 0.555);
}



/* Size Phone */


@media only screen and (max-width: 414px) {
    .headright{
      display: none;
    }
    .headdrop{
        display: initial;
    }
  }

  /*Size iPod Pro  */
@media only screen and (max-width: 768px) {
    .headright{
      display: none;
    }
    .headdrop{
        display: initial;
    }
  }
